@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::selection {
    @apply bg-yellow-300;
    color: #000;
  }

  body,
  #__nuxt {
    @apply min-h-screen;
  }

  body {
    @apply bg-gray-50 text-black dark:bg-gray-900 dark:text-white;
  }

  /* 通用滚动条样式，适用于所有滚动条 */
  *::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
